// Override this file to add your own SCSS styling.

// Limit Header size
$navbar-height: 50px;
.navbar {
  height: $navbar-height;
}
body {
  margin-top: $navbar-height;

  // Compensate for missing footer
  margin-bottom: 3em;
}

// Decrease padding of sections
.home-section {
  &.wg-hero {
    .hero-title {
      padding-bottom: 1rem;
    }
    .hero-lead p {
      padding-bottom: 1rem;
    }
    padding: 5em 0 6em 0;

  }
  padding: 4em 0 4em 0;
}


// Hide powered by
.powered-by {
  &, & a {
    color: #ddd !important;
  }
}

// Made tag clouds not transform when hovering
.tag-cloud {
  a {
    color: #166a84;
    &:hover, &:focus {
      transform: scale(1);
    }

  }
}

// Don't pop icons

.network-icon li:hover {
  transform: scale(1);
  i {
    color: #666 !important;
  }
}

