// Override this file to add your own SCSS styling.

// Limit Header size
$navbar-height: 50px;
.navbar {
  height: $navbar-height;
}

body {
  margin-top: $navbar-height;

  // Compensate for missing footer
  //margin-bottom: 1em;
}

// Decrease padding of sections
.home-section {
  &.wg-hero {
    .hero-title {
      padding-bottom: 1rem;
    }

    .hero-lead p {
      padding-bottom: 1rem;
    }

    padding: 4em 0 5em 0;

  }

  padding: 3em 0 3em 0;
}


// Hide powered by
.powered-by {
  &, & a {
    color: #ddd !important;
  }
}

// Made tag clouds not transform when hovering
.tag-cloud {
  a {
    color: #166a84;

    &:hover, &:focus {
      transform: scale(1);
    }

    .tag-count {
      font-size: .65em;
      //font-style: italic;
      color: #777;
    }
  }
}

// Don't pop icons

.network-icon li:hover {
  transform: scale(1);

  i {
    color: #666 !important;
  }
}

// Better bio color
#profile {
  .bio {
    color: #777;
  }
}

section {
  overflow: hidden;
}

footer {
  margin: 1rem 0 0;
  padding: 1rem 0;
  width: 100%;

  img {
    max-width: 100px;
    width: 100px;
  }
  @media (min-width: 768px) {
    img {
      max-width: 128px;
      width: 128px;
    } }
}
