// Override this file to add your own SCSS styling.
$navbar-height: 50px;
body {
  margin-top:$navbar-height;
}
.navbar {
  height: $navbar-height;

  .navbar-nav .nav-link.active {
    font-weight: bold !important;
    color: #fff !important;
  }

  .powered-by {
    &, & a {
      color: #ddd !important;
    }
  }
}
