.relpub {
 // color: #413B24;
 // background-color: #FFFBEC;
 // border-color: #F1DC88; 
}

h3.research-line-title {
	color: #313131;
	font-weight: normal;
}

.research-line-spacer {
	height: 20px;
}


